.above-main-container-outlet.welcome-link-banner-connectors,
.below-site-header-outlet.welcome-link-banner-connector {
  .welcome-link-banner-wrapper {
    background-image: url(#{$mobile-banner-background-image});
    .welcome-wrapper {
      .featured-banner-link {
        flex-direction: row;
        padding-bottom: 1.5em;
        & > div a {
          padding: 0 5px;
          h3 {
            font-size: 0.75em;
            white-space: normal;
          }
        }
      }
    }
  }
}
