// 270px is the width of the sidebar + gap
@mixin adjustableBreakpoint($original, $adjustment: 270px) {
  @if $plugin-outlet == "above-main-container-outlet" {
    @media screen and (max-width: ($original + $adjustment)) {
      @content;
    }
  } @else {
    @media screen and (max-width: $original) {
      @content;
    }
  }
}

.above-main-container-outlet.welcome-link-banner-connectors,
.below-site-header-outlet.welcome-link-banner-connector {
  .welcome-link-banner-wrapper {
    background-color: #{$banner-background-color};
    background-image: url(#{$banner-background-image});
    background-size: #{$banner-background-size};
    background-repeat: #{$banner-background-repeat};
    background-position: center center;
    margin-bottom: 1em;
  }

  .welcome-link-banner {
    display: flex;
  }

  .welcome-wrapper {
    width: 95%;
    flex: 0 1 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    box-shadow: var(--shadow-card);
    margin: 2.5em auto;
    background: #{$banner-box-background-color};

    @if $layout == "text-top" {
      flex-direction: column;
    }

    .featured-banner-link {
      box-sizing: border-box;
      padding: 1em 1em 0.75em;

      @if $layout == "text-top" {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        padding-top: 0;
      } @else {
        display: flex;
        flex: 1 0 50%;
        min-width: 0;
      }

      svg {
        transition: color 0.25s;
      }

      > div {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        min-width: 0;

        svg {
          display: block;
          font-size: 1.75em;
          margin: 0 auto 0.25em auto;
        }

        a {
          transition: all 0.25s;
          width: 100%;
          padding: 1em 1em 1.25em;
          color: #{$banner-text-color};
          display: flex;
          justify-content: center;

          .d-icon {
            color: #{$banner-icon-color};
            margin-bottom: 0.35em;
          }

          &:hover {
            color: #{$banner-link-color};
            text-decoration: underline;
            .d-icon {
              color: #{$banner-link-color};
            }
          }
        }

        h3 {
          font-weight: normal;
          line-height: 1.2;
          margin: 0;
          min-width: 0;
          font-size: var(--font-up-1);
        }
      }

      @include adjustableBreakpoint(700px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        > div {
          width: auto;
        }
      }
    }

    h2 {
      font-size: 1.75em;
      line-height: 1.2;
    }

    .welcome-content {
      max-width: 375px;
      text-align: left;
      padding: 1.5em 2em 2em;
      @if $layout == "text-top" {
        text-align: center;
        padding-bottom: 0.25em;
        max-width: unset;
        p {
          margin-top: 0.5em;
        }
      } @else {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 400px;
        flex: 1 1 50%;
      }

      p {
        margin-bottom: 0;
      }
    }

    @include adjustableBreakpoint(930px) {
      flex-wrap: wrap;

      .welcome-content {
        max-width: unset;
        text-align: center;
        padding: 1.33em 1em 0;
      }

      .featured-banner-link {
        width: 100%;
      }
    }

    @include adjustableBreakpoint(550px) {
      max-width: 80vw;
      padding: 0;

      .featured-banner-link {
        flex-direction: column;
        padding: 0.5em 0.5em 1.25em;

        > div {
          margin: 0 auto;
        }
      }
    }
  }
}
